<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="GyBge6UXKVuGvXocHXKfzRzX5jnQ8UXys9BDexC8tB0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block style %}
    {% endblock %}
</head>
<body>

    {% block body %}
    {% endblock %}
</body>
</html>


