{% extends "base.html" %}
{% block title %}
<title>Galery</title>
{% endblock %}
    
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
    
{% block body %}
<body>

<header>
    <div class="container">
        <h1>Galery: Zigzcg road near Zuluk</h1>
        
    </div>
</header>



<section id="destinations">
    <div class="container">
        
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/zigzac_road.jpeg' %}">
        </div>
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/road_zz2.jpeg' %}">
        </div>
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/zz3.jpeg' %}">
        </div>
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/mt_zz.jpeg' %}">
        </div>
        
    </div>
</section>

<section id="activities">
    <div class="container">
        <h2>Activities</h2>
        <ul>
            <li>Trekking</li>
            <li>White-water Rafting</li>
            <li>Paragliding</li>
            <li>Yak Safari</li>
            <!-- Add more activities as needed -->
        </ul>
    </div>
</section>

<footer id="contact">
    <div class="container">
        <h2>Contact Us</h2>
        <p>For inquiries and bookings, please contact us at:</p>
        <address>
            Name: Dhiren<br>
            Email: <a href="mailto:info@sikkimtourism.com">info@sikkimtourism.com</a><br>
            Phone: +91 9999999999
        </address>
    </div>
</footer>

</body>
{% endblock %}
