{% extends "base.html" %}
{% block title %}
<title>Galery</title>
{% endblock %}
    
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
    
{% block body %}
<body>

<header>
    <div class="container">
        <h1>Galery: ZigZag road near Zuluk</h1>
        
    </div>
</header>



<section id="destinations">
    <div class="container">
        
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/zigzac_road.jpeg' %}">
        </div>
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/road_zz2.jpeg' %}">
        </div>
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/zz3.jpeg' %}">
        </div>
        <div class="destination">
            {% load static %}
            <img src="{% static 'img/mt_zz.jpeg' %}">
        </div>
        
    </div>
</section>


</body>
{% endblock %}
