{% extends "base.html" %}
{% block title %}
<title>Galery</title>
{% endblock %}
    
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/galery.css' %}">
{% endblock %}
    
{% block body %}
<body>

<header>
    <div class="container">
        <h1>Galery: {{title}}</h1>
        
    </div>
</header>



<section id="destinations">
    <div class="container">
        {% for photo in photos %}
        <div class="destination">
            
            <img src="{{photo.image.url}}">
        </div>
        {% endfor %}
        
    </div>
</section>


</body>
{% endblock %}
